flows.json
[{"id":"e2a10008.8d6d7","type":"ibmiot in","z":"3822a503.51fb2a","authentication":"apiKey","apiKey":"91bb7648.b7c4a8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"pluto","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":230,"y":180,"wires":[["d46671ac.545b5","7357cb76.67fa74","b7aa4a1.ac9a6b8","abf922ae.e6add"]]},{"id":"d46671ac.545b5","type":"debug","z":"3822a503.51fb2a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":180,"wires":[]},{"id":"7357cb76.67fa74","type":"function","z":"3822a503.51fb2a","name":"temp","func":"msg.payload=msg.payload.d.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":300,"wires":[["d46671ac.545b5","cee9a653.6682c8"]]},{"id":"cee9a653.6682c8","type":"ui_gauge","z":"3822a503.51fb2a","name":"","group":"536950e2.09157","order":0,"width":0,"height":0,"gtype":"gage","title":"temp","label":"degree celcius","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":300,"wires":[]},{"id":"b7aa4a1.ac9a6b8","type":"function","z":"3822a503.51fb2a","name":"Moisture","func":"msg.payload=msg.payload.d.objectTemp;\nreturn msg;\n","outputs":1,"noerr":0,"x":420,"y":140,"wires":[["d46671ac.545b5","3d40d0a1.2c077"]]},{"id":"3d40d0a1.2c077","type":"ui_gauge","z":"3822a503.51fb2a","name":"","group":"536950e2.09157","order":1,"width":0,"height":0,"gtype":"gage","title":"soil moisture","label":"degree celcius","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":140,"wires":[]},{"id":"2d2f9ba2.a4a964","type":"http request","z":"3822a503.51fb2a","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=Dinanagar,IN&appid=1d548196be099afcd3b8e13ce888160a","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":60,"wires":[["d46671ac.545b5"]]},{"id":"5eb40a59.caf644","type":"inject","z":"3822a503.51fb2a","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":40,"wires":[["2d2f9ba2.a4a964"]]},{"id":"b344a538.c6fb58","type":"ibmiot out","z":"3822a503.51fb2a","authentication":"apiKey","apiKey":"91bb7648.b7c4a8","outputType":"cmd","deviceId":"12345","deviceType":"pluto","eventCommandType":"command","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":660,"y":420,"wires":[]},{"id":"4f6efb2e.f8ff04","type":"ui_button","z":"3822a503.51fb2a","name":"","group":"955cfb5f.d27098","order":2,"width":0,"height":0,"passthru":false,"label":"Motor on","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoron\"}","payloadType":"json","topic":"","x":400,"y":380,"wires":[["b344a538.c6fb58","d46671ac.545b5"]]},{"id":"60a370dd.62558","type":"ui_button","z":"3822a503.51fb2a","name":"","group":"955cfb5f.d27098","order":3,"width":0,"height":0,"passthru":false,"label":"Motor off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"motoroff\"}","payloadType":"json","topic":"","x":400,"y":440,"wires":[["b344a538.c6fb58","d46671ac.545b5"]]},{"id":"abf922ae.e6add","type":"function","z":"3822a503.51fb2a","name":"humidity","func":"\nmsg.payload=msg.payload.d.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":418,"y":225,"wires":[["bfcef9cc.c9ffc8"]]},{"id":"bfcef9cc.c9ffc8","type":"ui_gauge","z":"3822a503.51fb2a","name":"","group":"536950e2.09157","order":4,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"grams per cubic meter","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":700,"y":225,"wires":[]},{"id":"91bb7648.b7c4a8","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"536950e2.09157","type":"ui_group","z":"","name":"IOT","tab":"deccba8a.851b88","order":1,"disp":true,"width":"6","collapse":false},{"id":"955cfb5f.d27098","type":"ui_group","z":"","name":"motor commands","tab":"deccba8a.851b88","order":2,"disp":true,"width":"6","collapse":false},{"id":"deccba8a.851b88","type":"ui_tab","z":"","name":"SmartAgriculture","icon":"fa-button","disabled":false,"hidden":false}]